<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><a th:href="@{'/books/' + ${book.id} + '/info'}" th:text="${book.title}"></a></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.year}"></td>
            <td th:text="${book.price}"></td>
            <td>
                <a class="btn btn-info" th:href="@{'/books/' + ${book.id} + '/edit'}">Edit</a>
                <form th:action="@{'/books/' + ${book.id} + '/buy'}" method="post" style="display: inline;">
                    <button class="btn btn-success" type="submit">Buy</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/books/create" class="btn btn-success">Create Book</a>
</div>
</body>
</html>